.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header_avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.expand-icon {
    color: #ffffff;
}

.menu-link-text {
    text-decoration: none;
    margin-left: 30px;
    color: white;
}

.menu-links-container {
    display: flex;
    justify-content: space-between;
}

.profile-link {
    color: black;
    text-decoration: none;
}
