.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header_avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
